@model int
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/comment/save" method="post">
        <input type="text" name="Content">
        <input type="hidden" name="ParentId" value="@Model">
        <button>Comentar</button>
    </form>
</body>
</html>