<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <form action="/recipe/new" method="post">
        <input placeholder="Recipe Name" name="Name">
        <input placeholder="Descreva a receita" name="Steps">
        <button >Salvar</button>
    </form>
</body>
</html>